$primary-color: #0D9C6F;
$secondary-color: #2196F3;

nav, .page-footer {
    background-color: $primary-color !important;
}

#landing-img {
    margin: 2em;
}

.landing-button {
    width: 16em;
    margin: 1em 0em 1em 0em;
}

.page-footer {
    margin-top: 2em;
}