$primary-color: #0D9C6F;
$secondary-color: #2196F3;

nav, .page-footer {
    background-color: $primary-color !important;
}

#landing-img {
    margin: 2em;
    height: 16em;
}

.brand-logo-desktop {
    margin-left: 15px;
}

.landing-button {
    width: 16em;
    margin: 1em 0em 1em 0em;
}

.page-footer {
    margin-top: 2em;
}

.hero {
    background-color: #f5f5f5;
    padding: 1em;

    h3 {
        margin-top: 0;
        color: $primary-color;
    }
}
