<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Favor.io </title>
    {% load sass_tags %}
    <link href="{% sass_src 'styles.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body id="main-body">

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo hide-on-large-only">Favor.io</a>
        <a href="/" class="brand-logo brand-logo-desktop hide-on-med-and-down">Favor.io</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}    
            <li><a href="app/#/profile">{{ user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Register</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block full_width_content %}

    {% endblock %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div><!-- /.container -->

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li><a class="grey-text text-lighten-3" href="{% url 'terms_of_service' %}">Terms of Service</a></li>
              <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Favor.io
        </div>
      </div>
    </footer>

  </body>
</html>
